* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  color: rgb(100, 96, 96);
  font-display: block;
  font-stretch: extra-expanded;
}

.main-header {
  width: 35%;
  position: fixed;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  padding: 7% 3% 0% 10%;
  box-sizing: border-box;
}

.main-header a {
  text-decoration: none;
  color: rgb(146, 141, 141);
}

.main-header-link img {
  border-radius: 50%;
  height: 30%;
  width: auto;
  margin-bottom: 15%;
}

.main-header-text {
  padding: 10% 5% 0% 0%;
  width: 100%;
  text-align: right;
}

.main-header-text h1 {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.424);
}

#nome {
  color: white;
}

.main-header-text h3 {
  margin-top: 5%;
  color: rgb(146, 141, 141);
}

.header-footer {
  margin-top: 40%;
  text-align: right;
  color: rgb(146, 141, 141);
}

@media (min-width: 1920px) {
  .header-footer {
    margin-top: 73%;
    text-align: right;
    color: rgb(146, 141, 141);
  }
}

.header-footer img {
  width: 12%;
  margin-right: 5%;
  margin-bottom: 3%;
}

.main-content {
  position: absolute;
  width: 64%;
  left: 36%;
  padding: 5% 2%;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 15px;
}

.main-content h2 {
  margin-bottom: 5%;
}

.btn {
  width: 15%;
  height: 40px;
  font-size: 17px;
  border-radius: 7px;
  border: 1px solid rgba(51, 51, 51, 0.518);
  background-color: white;
  line-height: 40px;
  box-sizing: border-box;
}

.btn a {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
}

.btn:hover {
  background-color: #333;
}
.btn a:hover {
  color: white;
}

.projetos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 40%;
  position: relative;
}

.card p {
  color: rgba(255, 255, 255, 0);
  height: 94%;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 25%;
  box-sizing: border-box;
  text-align: center;
}

#card1,
#card3,
#card5 {
  margin-right: 6%;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

/*inserir aqui animacao dos cards*/
.card:hover {
  transition: all 1s ease-in-out;
  transform: translate(0px, -50px);
  height: auto;
}

.card p:hover {
  transition-timing-function: ease-in-out;
  font-weight: 700;
  font-size: 20px;
  transition: background-color 2s;
  background-color: rgba(51, 51, 51, 0.455);
  color: white;
  border-radius: 15px;
}

#botao {
  width: 25%;
  color: white;
  background-color: rgb(60, 169, 73);
  height: 42px;
  border-radius: 3%;
  border: none;
  font-weight: 600;
  font-size: 13px;
}

#botao:hover {
  background-color: rgb(26, 75, 32);
}

.formularios {
  width: 100%;
  clear: both;
}

#nome2 {
  float: left;
  padding: 0px;
  width: 80%;
  clear: both;
}

#nome2 form input {
  background-color: rgba(133, 116, 116, 0.337);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  line-height: 50px;
  text-indent: 10px;
}

#nomeform,
#emailform {
  width: 49%;
}

#nomeform {
  float: left;
}

#emailform {
  float: right;
}
#dados {
  width: 19%;
  float: right;
}
#texto {
  background-color: rgba(133, 116, 116, 0.337);
  width: 80%;
  height: 150px;
  border-radius: 5px;
  border: none;
  line-height: 50px;
  text-indent: 10px;
}

code {
  background-color: rgba(169, 163, 163, 0.443);
  padding: 5px;
  border-radius: 3px;
}

.elements a {
  text-decoration: underline;
  color: rgb(75, 140, 119);
}
#titulos h2 {
  margin: 0%;
}
#titulos h1 {
  font-size: 32px;
}

.cite {
  border-left: solid 3px rgba(72, 69, 69, 0.459);
  margin: 0%;
}

.pre {
  width: 100%;
  clear: both;
}

.unordened {
  float: right;
  width: 50%;
}
.ordened {
  width: 49%;
}

table {
  width: 100%;
}
table,
th,
td {
  border-collapse: collapse;
}

#topotabela {
  background-color: rgba(84, 78, 78, 0.527);
  border: none;
}

.cinza {
  background-color: rgba(193, 185, 185, 0.544);
}
